body{
    /* background-image: url("https://s1.eestatic.com/2019/07/17/actualidad/actualidad_414471176_130764099_1024x576.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

h1{
    /* font-family: Arial, Helvetica, sans-serif;
    color: blue;
    border-bottom-style: solid;
    border-bottom-color: blueviolet;
    text-align: center;
    padding-bottom: 25px; */
    text-decoration: Bold;
}


.estiloTabla, .estiloTabla td{
    border-collapse: collapse;
    margin: auto;     /* centrar al medio */
    border: 3px solid blueviolet; /*grosor y color del borde*/
    /* width: 55%; ancho de la tabla */
    font-family:monospace; /*tipo de letra*/
    text-align: center;
}
.estiloTabla th{

    border: 3px  ;
    background-color:cadetblue;
}


.estiloFormulario{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 380px;
    margin: auto;
    border: rgb(9, 64, 100) 3px solid;
    padding: 15px;
    border-radius: 10px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.26);
}

.estiloFormulario label{
    width: 120px;
    float: left;
    color:rgb(19, 19, 83)
}

.estiloFormulario input[type=text], input[type=email], input[type=date], select{
    width: 180px;

    margin-top: 12px;
}

.estiloFormulario input[type=radio]{
    margin-top: 12px;
}

.estiloFormulario input[type=submit]{
    margin-top: 16px;
    background-color: rgb(16, 48, 90);
    border: 2px solid rgb(83, 21, 10);
    width: 100%;
    height: 25px;
    border-radius: 5px;
    color: rgb(255, 255, 255);

}
.estiloFormulario input[type=submit]:hover{
    background-color:rgba(66, 175, 166, 0.822);
}


