body{
    background-image: url(../images/fondo.jpg);
}
#contenedor{
    background-color: white;
    margin: auto;
    width: 90%;
    height: auto;
}
#encabezado{
    height: 130px;
}

#logo{
    float: left;

}
#logo img{
    width: 275px;
    margin-top: 25px;
    margin-left: 15px;
}
.redes-sociales{
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}
.redes-sociales img{
    width: 40px;
}
#numero-telefono{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right ;  /*flotar a derercha */
    font-size: 28px;
    font-weight: bold;
    color: rgb(80, 14, 2);


}
.menu-nav{
    background-color: teal;
    height: 50px;  /*ALTURA*/
    width: 100%; /*ancho*/

}
.menu-nav li{
    list-style-type: none;
}
.menu-nav a{
    text-decoration: none ;
    color: white;
    float: left;
    padding: 16px 30px;
}
.menu-nav a:hover{
    background-color: rgba(255, 255, 255, 0.164);

}